<img src="{{ url_for('static', filename='images/login.png') }}" alt="Login png">
                {% include 'partials/login_form.html' %}

<div class="dropdown-divider"></div>
<p class="mx-auto text-center text-bold">Don't have an account? 👩‍💼<button class="role-link btn btn-link" type="button" data-toggle="collapse" data-target="#registerCollapse" aria-expanded="false" aria-controls="registerCollapse">Register</button></p>

<div class="collapse" id="registerCollapse">
    <div class="card card-body">
        <!-- REGISTER -->
                {% include 'partials/register.html' %}

    </div>
</div>
