{% extends 'macros.html' %}

{% block content %}
    <!-- LOGOUT -->
    <img src="myapp/static/images/logout.png" alt="Logout Dropdown Trigger" class="dropdown-trigger" id="logout-trigger">
    <div class="dropdown-container" id="logout-dropdown-container">
        <div class="container mt-4">
            <!-- Add relevant content for logout -->
            <h2>Logout</h2>
            <p>Are you sure you want to logout?</p>
            <form method="post" action="/logout">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
{% endblock %}
