    <img src="{{ url_for('static', filename='/images/myServices.png') }}" alt="My Services png">
        <p>Be part of a culinary experience with our meticulously designed services, centered around a commitment to fostering a supportive and collaborative environment.</p>
        <p>Our platform embraces inclusivity, accommodating a diverse array of dietary preferences, allergies, and specific nutritional needs. Whether you follow a specialized diet, have allergenic concerns, or adhere to unique culinary specifications, our community-driven platform ensures you discover, share, and relish recipes tailored to your individual preferences.</p>
        <h2>New Feature:</h2>
        <p>Introducing a revolutionary sharing feature via email, allowing users to seamlessly share health-conscious recipes.</p>
        <p>Experience dynamic recipe submissions, complete with user reviews featuring ratings, allergens to avoid, and personalized dietary information. Visitors can effortlessly explore recipes, automatically filtered based on their preferences.</p>
        <p>Additionally, enjoy the flexibility of switching between French and English, catering to your language preference.</p>
