    <!-- MY SERVICES -->
    <img src="{{ url_for('static', filename='/images/myServices.png') }}" alt="My Services Dropdown Trigger" class="dropdown-trigger" id="my-services-trigger">
    <div class="dropdown-container" id="my-services-dropdown-container">
        <div class="container mt-4">
            <p>At Recipe Sharing Platform, we aim to create a community where food enthusiasts can connect, share their culinary creations, and explore a diverse range of recipes adapted to everybody!</p>
        </div>
    </div>