{% block nav %}
<navbar class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/favicon.ico') }}" alt="Logo" class="navbar-logo">
        Menu  
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item">
        <a href="{{ url_for('views.blog') }}" class="nav-link">blog</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('views.about') }}" class="nav-link">about</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('views.contact') }}" class="nav-link">contact</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('views.services') }}" class="nav-link">services</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('views.recipes') }}" class="nav-link">recipes</a>
    </li>
    {% if not current_user.is_authenticated %}
        <!-- Trigger Modal -->
        <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{{ url_for('views.logout') }}" class="nav-link">Logout</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('views.profile') }}" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('views.admin') }}" class="nav-link">Admin</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('views.projects') }}" class="nav-link">Projects</a>
    {% endif %}

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '/partials/login.html' %}
            </div>
        </div>
    </div>
</div>
</navbar>
{% endblock %}
