{% block nav %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/favicon.ico') }}" alt="Logo" class="navbar-logo">
        Menu
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- User Information Section -->
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">
                        Welcome back, {{ current_user.username | capitalize }}!
                    </span>
                </li>

                <!-- Conditional Admin/Patient Activities -->
                {% if current_user.role %}
                    <li class="nav-item">
                        <a href="{{ url_for('views.admin_dashboard') if current_user.role == 'admin' else url_for('views.patient_dashboard') }}" class="nav-link">
                            {{ "Admin" if current_user.role == 'admin' else "Patient" }} Dashboard
                        </a>
                    </li>
                {% endif %}

                <!-- Logout Section -->
                <li class="nav-item">
                    <a href="{{ url_for('views.logout') }}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <!-- Login Section -->
                <li class="nav-item">
                    <a href="{{ url_for('views.login') }}" class="nav-link">Login</a>
                </li>
            {% endif %}
            
            <!-- Navigation Links -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.legal') }}">Legal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.confidentiality') }}">Confidentiality</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
