:root {
  --primary-bg-color: #f8f8f8; /* Light background color */
  --secondary-bg-color: #ffffff; /* White background color */
  --accent-color: #24bda4; /* Cyber green for accent */
  --accent-color-light: #35f0e5; /* Lighter shade of accent color */
  --text-color: #333333; /* Dark text color for better readability */
  --hover-color: #e0e0e0; /* Light gray for hover effect */
}

/* ... Your existing styles ... */

/********************************** IMAGE ********************************/

img {
  max-width: 100%;
  height: auto;
  width: 100%; /* Set width to 100% to maintain aspect ratio */
  max-height: 200px; /* Set a fixed height for a square shape */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
  transition: transform 0.3s; /* Add a transition for a smooth effect */
}

img:hover {
  transform: scale(1.1); /* Zoom in on hover */
}


/********************************** STRUCTURE ********************************/

html {
  font-size: 16px;
  font-family: 'Baloo Bhaina', sans-serif;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

header {
  animation: fadeIn 7s infinite;
  background: url(/static/images/default.png) center/cover no-repeat;
  z-index: 1;
  width: 100%;
  height: auto;
  align-content: center;
  color: ghostwhite;
  font-weight: 200;
}

h1, p {
  margin: 0.5em 0;
}

h1 {
  font-size: 2.5em;
  color: var(--accent-color);
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

p {
  font-size: 1.2em;
}

footer {
  background-color: var(--primary-bg-color);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--text-color);
}


/********************************** CLASS ********************************/

.btn-primary {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-bg-color);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: scale(1.05);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
  animation: fadeInUp 1s ease-in-out;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container {
  margin-top: 80px;
}

/********************************** DROPDOWN LINK HOVER ********************************/

.dropdown-content a:hover {
  color: var(--accent-color);
}

/********************************** DROPDOWN LINK ********************************/

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-container.show {
  display: block;
}

.dropdown-content {

}

.dropdown-trigger {
  cursor: pointer;
}

/********************************** NAVBAR LINK HOVER ********************************/

.navbar-nav a:hover {
  color: var(--accent-color);
}

/********************************** NAVBAR LINK ********************************/

.navbar-logo {
  height: 50px;
  width: auto;
}

.navbar {
  border-bottom: 1px solid var(--hover-color);
}

.navbar-toggler-icon {
  background-color: var(--text-color);
}

.navbar-brand {
  color: var(--accent-color);
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: var(--text-color);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--accent-color);
}


.form-control {
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
}

.role-link {
  color: var(--accent-color);
  transition: color 0.3s;
}

.role-link:hover {
  color: var(--hover-color);
}

.role-icon {
  margin-right: 5px; /* Adjust as needed */
}

/********************************** ANIMATION ********************************/

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}