:root {
  --primary-bg-color: #2e1c26;
  --secondary-bg-color: #473440;
  --accent-color: #24bda4; /* Cyber green for accent */
  --accent-color-light: #35f0e5; /* Lighter shade of accent color */
  --text-color: #f0e8f0; /* Light text color for better readability */
  --hover-color: #170d13;
  --hover-color-light: #2e1c26; /* Lighter shade for hover effect */
}

body {
  background-image: linear-gradient(to bottom right, var(--primary-bg-color), var(--secondary-bg-color));
  font-family: 'Noto Sans', sans-serif;
  margin: 5% 10%;
  padding: 0;
  color: var(--text-color);
}

.container {
  margin-top: 80px;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(1.05);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-control {
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

h1, p {
  font-family: 'Baloo Bhaina', sans-serif;
  font-weight: 600;
  animation: fadeInUp 1s ease-in-out;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#header_title {
  color: #bf0017; /* Classical red color */
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.role-link {
  color: var(--accent-color);
  transition: color 0.3s;
}

.role-link:hover {
  color: var(--hover-color);
}

.role-icon {
  margin-right: 5px; /* Adjust as needed */
}