/* Colors */
:root {
  --primary-bg-color: #f8f8f8;
  --secondary-bg-color: #ffffff;
  --accent-color: #24bda4;
  --text-color: #333333;
  --hover-color: #e0e0e0;
}

/* Document Structure */
html {
  font-size: 16px;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 10px;
  color: var(--text-color);
  overflow-x: hidden;
  text-align: center;
}

/* Header Styles */
header {
  text-align: center;
  opacity: 0.2;
  top: 0;
  height: 200px; /* Reduced height */
  color: var(--hover-color);
  z-index: 1000;
  position: relative;
  background: url('/static/images/default.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header:hover {
  animation: fadeIn 2s ease-in infinite;
  transition: transform 0.3s, box-shadow 0.5s;
}

/* Header, Main, and Footer Styles */
header, main, footer {
  width: 100%;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; /* Allow containers to wrap to the next row */
  overflow-x: auto;
  margin-top: 20px; /* Reduced margin */
  padding: 20px;
  position: relative;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}

/* Container Styles */
.container {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap; /* Allow containers to wrap to the next row */
  justify-content: center; /* Center containers horizontally */
  align-items: stretch; /* Stretch containers vertically */
  width: 100%;
}

section {
  flex: 1; /* Each container takes equal width */
  min-width: 300px; /* Minimum width for each container */
  margin: 15px 10px; /* Adjust margin based on your design */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Footer Styles */
footer {
  background-color: var(--primary-bg-color);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--hover-color);
}

/* Button Styles */
.btn-primary {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 100%; /* Make the button full width */
  padding: 10px 20px; /* Adjust padding as needed for responsiveness */
  display: inline-block;
  margin: 0 auto; /* Center the button horizontally */
  text-align: center; /* Center the text within the button */
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

/* Card Styles */
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:active {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
}

/* Dropdown Styles */
.dropdown-trigger {
  cursor: pointer;
  animation: fadeIn 2s infinite;
}

/* Navbar Styles */
.navbar-nav a:hover {
  color: var(--accent-color);
  animation: fadeIn 2s infinite;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.navbar {
  border-bottom: 1px solid var(--hover-color);
  width: 100%;
}

.navbar-toggler-icon {
  background-color: var(--text-color);
}

.navbar-brand {
  color: var(--accent-color);
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: var(--text-color);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--accent-color);
}

/* Form Styles */
.form-control {
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-bg-color);
  color: var(--accent-color);
}

/* Role Link Styles */
.role-link {
  color: var(--accent-color);
  transition: color 0.3s;
}

.role-link:hover {
  color: var(--hover-color);
}

/* Animation Styles */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    height: 150px; /* Further reduced height for smaller screens */
  }

  main {
    padding: 20px 10px;
  }

  .btn-primary,
  .card {
    width: 100%;
  }
}
