{% extends 'macros.html' %}

{% block title %}Server Error{% endblock %}
{% block title_header %}Server Error{% endblock %}

{% block content %}
    <div class="container">
        <h4>Oops! Something Went Wrong</h4>
        <p>We're sorry, but there was an internal server error. Our team has been notified, and we are working to fix it.</p>
        
        <p>You can try the following:</p>
        <ul>
            <li>Return to the <a href="/index">home page</a>.</li>
            <li>Contact our support team if the issue persists.</li>
        </ul>
    </div>
{% endblock %}
