<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/app/myapp/static/images/favicon.ico" />
  <title>Share Receipts, Simplify Life</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
  <header>
    <nav>
      <a href="index.html" class="logo">Miam . . .</a>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="auth-buttons">
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
      </div>
    </nav>
  </header>

  <main>
    <section id="transaction-animation" style="text-align: center; padding: 20px;">
      <h2>Send Money</h2>
      <input type="number" id="amount" placeholder="Enter Amount">
      <button id="send-button">Send</button>
      <p id="message"></p>
    </section>

    <section class="hero">
      <h1>Simplify Receipt Sharing</h1>
      <p>Effortlessly share, track, and organize your receipts with KvnBbg.</p>
      <button id="addButton" aria-label="Add a new item">Add Items</button>
    </section>

    <section class="items">
    </section>

    <section id="chat-section">
      <h2>Chat with Us</h2>
      <div id="chat-box"></div>
      <input type="text" id="chat-input" placeholder="Type a message...">
      <button id="chat-send">Send</button>
    </section>

    <section class="social-sharing">
      <h3>Share the Adventure</h3>
      <a href="https://www.facebook.com/profile.php?id=61557626589574" target="_blank" class="social-icon facebook"><i class="fab fa-facebook-f"></i> Share on Facebook</a>
      <a href="https://twitter.com/techandstream"><i class="fab fa-twitter"></i> Tweet about it</a>
    </section>

    <section>
      <h3>Coming Soon: Integration with wider video platforms for an even bigger library!</h3>
    </section>

    <footer>
      <p>&copy; 2024 Bookish/Recipe Platform by Kvnbbg. All Rights Reserved.</p>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
