{% extends 'macros.html' %}

{% block title %}Bad Request - Recipe Sharing Platform{% endblock %}
{% block title_header %}Bad Request{% endblock %}

{% block content %}
    <div class="container">
        <h1>Oops! Bad Request</h1>
        <p>We're sorry, but the request could not be understood or was missing required parameters.</p>
        
        <p>You can try the following:</p>
        <ul>
            <li>Check the URL for any typos or errors.</li>
            <li>Return to the <a href="/index">home page</a>.</li>
        </ul>

        <img src="{{ url_for('static', filename='images/400_image.png') }}" alt="400 Image" class="img-fluid" style="max-width: 100%; height: auto; margin-top: 20px;">
    </div>
{% endblock %}
