{% extends 'macros.html' %}

{% block title %}Server Error - Recipe Sharing Platform{% endblock %}
{% block title_header %}Server Error{% endblock %}

{% block content %}
    <div class="container">
        <h1>Oops! Something Went Wrong</h1>
        <p>We're sorry, but there was an internal server error. Our team has been notified, and we are working to fix it.</p>
        
        <p>You can try the following:</p>
        <ul>
            <li>Return to the <a href="/index">home page</a>.</li>
            <li>Contact our support team if the issue persist.</li>
        </ul>

    </div>
{% endblock %}
