{% extends 'macros.html' %}

{% block content %}
  <!-- MAIN CONTENT -->

  <!-- ALERT MESSAGE LINE -->
  <div class="container">
    <article>
      <section class="font-weight-bold text-capitalize text-center">
        {% include 'partials/alert_message.html' %}
      </section>
    </article>
  </div>
  <br>

  <!-- Combined and repeated container structures -->
  <div class="container">
    <article>

        <section>
      <!-- Recipe Section -->
      <button class="btn btn-primary toggle-btn" type="button" data-toggle="collapse" data-target="#recipeCollapse" aria-expanded="false" aria-controls="recipeCollapse">
        <span class="toggle-text">See Recipe</span>
        <span class="toggle-icon">▼</span>
      </button>
      <div class="collapse" id="recipeCollapse">
        <div class="card card-body">
          {% include 'partials/recipe.html' %}
        </div>
      </div>
    </section>
      
    <section>
      <!-- My Services Section -->
      <button class="btn btn-primary toggle-btn" type="button" data-toggle="collapse" data-target="#myServicesCollapse" aria-expanded="false" aria-controls="myServicesCollapse">
        <span class="toggle-text">See services</span>
        <span class="toggle-icon">▼</span>
      </button>
      <div class="collapse" id="myServicesCollapse">
        <div class="card card-body">
          {% include 'partials/my_services.html' %}
        </div>
      </div>
    </section>

    <section>
      <!-- About Section -->
      <button class="btn btn-primary toggle-btn" type="button" data-toggle="collapse" data-target="#aboutCollapse" aria-expanded="false" aria-controls="aboutCollapse">
        <span class="toggle-text">See About</span>
        <span class="toggle-icon">▼</span>
      </button>
      <div class="collapse" id="aboutCollapse">
        <div class="card card-body">
          {% include 'partials/about.html' %}
        </div>
      </div>
    </section>


  </article>
  </div>

{% endblock %}
