{% extends 'macros.html' %}

{% block content %}

<!-- MAIN CONTENT -->

<!-- ALERT MESSAGE -->
<div class="container">
    {% include 'partials/alert_message.html' %}
</div>
<br>

<!-- LOGIN MANAGEMENT -->
<div class="container">
    <h2>Connect 🍽️</h2>
    <div class="container">
    {% if session['logged_in'] %}
        <p>Welcome back, {{ current_user.username | capitalize }}!</p>

        {% if session['role'] %}
            <a href="{% if session['role'] == 'admin' %}/admin{% else %}/patient{% endif %}">
                {% if session['role'] == 'admin' %}

                <!-- ADMIN -->
                <div class="container">
                    <h3>Admin Activities</h3>
                    <!-- ACTIVITY ADD RECIPE -->
                    <div class="container">
                        {% include 'partials/add_recipe.html' %}
                    </div>
                </div>
                {% else %}
                 <!-- PATIENT -->
                <div class="container">
                    <h3>Patient Activities</h3>
                    <!-- ACTIVITY ADD RECIPE -->
                    <div class="container">
                        {% include 'partials/add_recipe.html' %}
                    </div>
                </div>
                {% endif %}
                {{ session['role'] }}
            </a>
            {% endif %}

            <!-- LOGOUT -->
            <div class="container">
                <h3>Logout</h3>

                <!-- ACTIVITY LOGOUT -->
                <div class="container">
                    {% include 'partials/logout.html' %}
                </div>
            </div>
            {% else %}

            <!-- LOGIN -->
            <div class="container">
                <h3>Login</h3>

                <!-- ACTIVITY LOGIN -->
                <div class="container">
                    {% include 'partials/login.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<br>

<!-- RECIPE -->
<div class="container">
    <h2>Delicious recipes, astuces and advises! 🌿</h3>
    <div class="container">
        {% include 'partials/recipe.html' %}
    </div>
</div>
<br>

<!-- ABOUT -->
<div class="container">
    <h2>About</h2>
    <div class="container">
        {% include 'partials/about.html' %}
    </div>
</div>
<br>

<!-- MY SERVICES -->
<div class="container">
    <h2>My Services</h2>
    <div class="container mt-4">
        {% include 'partials/my_services.html' %}
    </div>
</div>
<br>

<!-- END -->
{% endblock %}


