{% extends 'macros.html' %}

{% block content %}

<!-- MAIN CONTENT -->
<div class="container">
    <h1>Connect 🍽️</h1>

    <!-- ALERT MESSAGE -->
    {% include 'partials/alert_messages.html' %}

    <!-- CONNECTED -->
    {% if session['logged_in'] %}
        <h1>Profile</h1>
        <p>Welcome back, {{ current_user.username | capitalize }}!</p>

        {% if session['role'] %}
            <a href="{% if session['role'] == 'admin' %}/admin{% else %}/patient{% endif %}">
                {% if session['role'] == 'admin' %}
                    <h2>Admin Activities</h2>

                    <!-- ADD RECIPE -->
                    {% include 'partials/add_recipe.html' %}

                {% else %}
                    <h2>Patient Activities</h2>
                    <!-- PATIENT -->

                {% endif %}
                {{ session['role'] }}
            </a>
        {% endif %}

        <!-- LOGOUT -->
        {% include 'partials/logout.html' %}

    {% else %}
        <!-- LOGIN -->
        {% include 'partials/login.html' %}

    {% endif %}
</div>
<br>
<div class="container">
    <!-- RECIPE -->
    {% include 'partials/recipe.html' %}
</div> 
<br>
<div class="container">
    <h1>Delicious recipes, astuces and advises! 🌿</h1>

    <!-- ABOUT -->
    {% include 'partials/about.html' %}

    <!-- MY SERVICES -->
    {% include 'partials/my_services.html' %}
</div>

{% endblock %}

<!-- END -->
