{% extends 'macros.html' %}

{% block title %}Logout - Recipe Sharing Platform{% endblock %}
{% block title_header %}Logout{% endblock %}

{% block content %}
    <div class="container">
        <h1>Logout</h1>
        <p>You have successfully logged out. We hope to see you again soon!</p>
        <p>Explore more recipes or services on our platform.</p>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Explore Recipes</h5>
                        <p class="card-text">Discover a variety of delicious recipes shared by our community.</p>
                        <a href="{{ url_for('recipes') }}" class="btn btn-primary">Explore Recipes</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Explore Services</h5>
                        <p class="card-text">Find unique services offered by our talented authors.</p>
                        <a href="{{ url_for('my_services') }}" class="btn btn-primary">Explore Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
