{% extends 'macros.html' %}

{% block title %}My Services - Recipe Sharing Platform{% endblock %}
{% block title_header %}My Services{% endblock %}
{% block content %}
    <div class="container">
        <h1>Explore Our Services</h1>
        <p>Discover a variety of services offered by our talented authors.</p>

        <div class="row">
            {% for author in authors %}
                <div class="col-md-4 mb-4">
                    <div class="card" id="card{{ loop.index }}">
                        <img src="{{ author.profile_image }}" class="card-img-top" alt="{{ author.username }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ author.username }}</h5>
                            <p class="card-text">{{ author.service_description }}</p>
                            <a href="{{ url_for('author', author_id=author.id) }}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
