{% extends 'macros.html' %}

{% block title %}Internal Server Error - Recipe Sharing Platform{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Welcome to the Recipe Sharing Platform!</h1>
<p>Here you can find a variety of delicious recipes, share your own culinary creations, and learn new cooking techniques.</p>
<h1>500 Internal Server Error</h1>
    <p>Sorry, something went wrong on our server. Our team has been notified and we are working to fix it.</p>
    <p>You can go back to the <a href="/">homepage</a> or try again later.</p>
  {% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
