{% extends 'macros.html' %}

{% block title %}Auth - Recipe Sharing Platform{% endblock %}

{% block head %}

{% endblock %}

{% block title_header %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Welcome to the Recipe Sharing Platform!</h1>
<p>Here you can find a variety of delicious recipes, share your own culinary creations, and learn new cooking techniques.</p>
<p>Click <a href="/login">here</a> to view my login.</p>
<p>Click <a href="/logout">here</a> to view my logout.</p>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}