{% extends 'macros.html' %}

{% block title %}Legal - Recipe Sharing Platform{% endblock %}

{% block head %}

{% endblock %}

{% block title_header %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Welcome to Legal</h1>
<p>Here you can find a variety of delicious recipes, share your own culinary creations, and learn new cooking techniques.</p>
<p>Click <a href="/about">here</a> to view about</p>
<p>Click <a href="/my_services">here</a> to view my services</p>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}