{% import 'app.py' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <p>Go back to <a href="/">homepage</a>.</p>
    <h1>{{ recipe.title }}</h1>
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h2>Instructions:</h2>
    <p>{{ recipe.instructions }}</p>
</body>
</html>
